@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500&family=Fira+Sans:wght@700&family=Pacifico&display=swap');

/*//////////////////////////////////*/
/************ CommonPage  *************/
/*//////////////////////////////////*/

body {
    margin: 5%;
    max-width: 90%;
    margin: auto;
    border: 1px solid black;
}

main {
    max-width: 90%;
    margin-left: 3%;
}


/********** Main Logo************/
.container-logo a {
    text-decoration: none;
}

.logo {
    padding: 50px;
    text-align: center;
    background: linear-gradient(to bottom, #051937 0%, #12B0A8 100%);
    color: white;
    font-size: 30px;
}


/************ Nav  *************/

.nav-container {
    margin: 0;
}

.nav-info {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

}

.nav-info li {
    float: left;
    border-right: 1px solid #bbb;
}

.nav-info li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav {
    margin-top: 3%;
}

a.nav-link {
    font-size: 26px;
    color: black;
}


a.nav-link:hover {
    background-color: #4b89e6;
    color: white;
    font-size: 28px;
}


a.nav-link:active {
    background-color: #12B0A8;
}




/************ Text  *************/

body {
    font-family: 'David Libre', serif;
}

h1 {
    margin-top: 3%;
    font-size: 40px;
    margin-bottom: 2%;
}

h2 {
    font-size: 30px;
    margin-bottom: 2%;
    margin-left: 8%;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 25px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 25px;
}

p {
    font-size: 24px;
    font-weight: 500;
}

.title-header {
    font-family: 'Pacifico', cursive;
    font-size: 95px;
}

.text-header {
    font-family: 'Fira Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;

}

.notice, .notify{
    color: red;
    margin-top: 2%;
    margin-bottom: 2%;
}

.jobchg {
    margin-left: 10%;
    color: red;
}



/************ Form  *************/

.form {
    margin-left: 3%;
}

label span {
    display: flex;
    flex-direction: column;
    font-size: 24px;
    margin-bottom: 1%;

}

input {
    font-size: 20px;
    display: block;
    padding: .3em;
    margin: .3em;
    margin-top: 3%;
    color: #4d4d4d;
    width: 150%;
}


/************ Footer  *************/

footer {
    margin-top: 12%;
}

.container-footer {
    background: linear-gradient(to bottom, #12B0A8 0%, #051937 100%);
    padding: 15px;
    text-align: center;
    color: white;
}

.footer-bar {
    margin-top: 2%;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

/*//////////////////////////////////*/
/************ Job Page  *************/
/*//////////////////////////////////*/

.subtitle-category {
    margin-left: 5%;
    margin-top: 5%;
}

.categoryId {
    margin-top: 5%;
    margin-left: 13%;
}

.category-list a {
    margin-left: 1%;
}

/*//////////////////////////////////*/
/********** Category Page  **********/
/*//////////////////////////////////*/

.job-info-post {
    margin-left: 3%;
    margin-top: 4%;
}

.job-more-info-post {
    margin-left: 8%;
    margin-top: 5%;
}

.comp-responsabilities-title,
.comp-description-title {
    margin-top: 5%;
}

.no-job {
    margin-left: 8%;
    margin-top: 5%;
}


/*//////////////////////////////////*/
/*********** Login Page  ************/
/*//////////////////////////////////*/

.form-login-container {
    margin: 0 40px;
    padding: 10px;
    max-width: 60%;
}

.login-email,
.login-pwd {
    margin-bottom: 1.5%;
}

.input-login-pwd,
.input-login-email {
    margin-left: 1.5%;
    margin-top: 1%;
}

.create_account {
    margin: 2% 1%;
    padding: 10px;
    max-width: 60%;
}

.login-not-memeber {
    font-size: 30px
}

.btn {
    font-size: 24px;
    background-color: #12B0A8;
    color: white;
    width: 35%;
    padding: .2rem;
    border: 0.5px solid black;
    margin-left: 3%;
}

.btn:hover {
    background-color: #063d3a;
    color: white;
}

.btn_registration {
    font-size: 24px;
    background-color: #b6dfdd;
    color: white;
    width: 33%;
    padding: .2rem;
    border: 0.5px solid black;
    text-align: center;
    margin-left: 10%;
    border-radius: 5px;

}

.btn_registration:hover {
    background-color: #12B0A8;
}

.btn_registration a {
    text-decoration: none;
    color: black;

}

.btn_registration a:hover{
    color: white;
}


/*//////////////////////////////////*/
/******** Registration Page  ********/
/*//////////////////////////////////*/

.password_info {
    font-size: 16px;
}

.input-reg-pwd {
    font-size: 20px;
    display: block;
    padding: .3em;
    margin: .3em;
    color: #4d4d4d;
    width: 50%;
}

 #typelist {
    font-size: 20px;
    display: block;
    padding: .4em;
    margin: .3em;
    color: #4d4d4d;
    width: 133%;
 }

 .reg-clienttype {
     margin-bottom: 2%;
 }

 .registrationbtn{
     margin-left: 0;
     width: 30%;
 }


 /*//////////////////////////////////*/
/************ Admin Page  ************/
/*//////////////////////////////////*/

.admin_client_info {
    margin-left: 13%;
    margin-bottom: 3%;
    font-size: 24px ;
}

.admnAccLink {
    margin-left: 16%;
    margin-bottom: 3%;
    font-size: 24px ;
}

.post-job-add-link {
    margin-left: 16%;
    margin-bottom: 3%;
    font-size: 24px ;
}


 /*//////////////////////////////////*/
/******** Client Update Page  ********/
/*//////////////////////////////////*/

.field_name{
    margin-left: 5%;
}

.prod_text {
    margin-left: 8%;
    font-size: 20px;
}


.form_update_container{
    margin: 2% 40px;
    padding: 10px;
    max-width: 60%;
}

.update-email {
    margin-top: 1%;
}



 /*//////////////////////////////////*/
/******* Job Post Page  *************/
/******* Update Post Page  ***********/
/******* Delete Post Page  ***********/
/*//////////////////////////////////*/

.categorylist {
    font-size: 20px;
    display: block;
    padding: .4em;
    margin: .3em;
    color: #4d4d4d;
    width: 133%;

}

.jobpost {
    width: 90%;
    margin-top: 5%;
}

.form_postjob_container{
    margin: 2% 40px;
    padding: 10px;
    max-width: 60%;
}


.deletepost{
    width: 35%;
}

/************ Job list  *************/

.review-table{
    border: 1px solid black;
    width: 40%;
    margin-left: 16%;
    margin-top: 3%;
    
}

.review-table-prod{
    text-align: center;
}


td, .review-table-prod {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 3%;
    font-size: 22px;

}

td:not(:first-child){
    text-align: center;
}





























